<!DOCTYPE html>
<html>
<head>
    <title>Layout1</title>
	<link rel ="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<!--Retro-->
	<link href="https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap" rel="stylesheet">
	<!-- Quicksand Fond -->
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
	<div class="Header">
		<h1>My Website</h1>
		<p> Welcome to my website, have fun!</p>
	</div>
	<div class="NavigationBar">
	<!-- For this Navigation bar we are going to use link style navigation-->
		<a href="/1_HOME">HOME</a>
		<a href="/1_ABOUT">ABOUT</a>
		<a href="/1_CONTACTUS">CONTACT US</a>
		<a href="/1_SERVICES">SERVICES</a>
	</div>
	<div class="Content">
		<div class="LeftCol">
			<h1>Sub Navigation Window</h1>
			<p>This is a bunch of sample text!</p>
		</div>
		<div class="MiddleCol">
			<h1>Basic Glitches</h1>
			<p>These are the basic glitches most important to any speedrunner of oot and cover all of the most versatile ones.</p>
			<h2>Infinite Sword Glitch (ISG)</h2>
			<p>ISG is largely the simpliest and easiest glitch in all of oot. You simply have to intterupt a sword slash while it is happening by either speaking to someone or picking something up. The most common uses are with navi on enemies and bombs.</p>
			<h2>Navi Dive</h2>
			<p>Another easy glitch commonly used...</p>
			<h2>YEEHAW!</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et magna rutrum, cursus eros vitae, fringilla libero. Proin urna turpis, tempus sed maximus vitae, dignissim eu lorem. Sed tempor imperdiet laoreet. Donec volutpat aliquam dapibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur molestie egestas arcu, ut laoreet nibh egestas sed. Phasellus a dapibus arcu, vel consectetur metus. Vivamus malesuada mattis lobortis. Nullam a nisl tristique, tempor metus ac, fringilla libero.</p>
			<p>Mauris id diam quis turpis pulvinar hendrerit ut et est. In eu lacinia massa, ac efficitur ante. Sed eleifend malesuada dapibus. Cras vehicula rhoncus quam eget fermentum. Quisque pellentesque sem ut ante blandit, eu pulvinar lorem euismod. Phasellus egestas malesuada rhoncus. In tincidunt efficitur lacus, ut dapibus mauris pellentesque in. Proin vehicula iaculis mattis. Mauris maximus tortor neque, at aliquet odio dapibus in. Nullam fringilla ipsum eget nisi sodales, a dapibus augue pellentesque.</p>
			<p>Proin bibendum velit a augue tincidunt, sed egestas ipsum commodo. Aenean at mattis erat, a pretium magna. Aenean vitae eleifend felis, et varius odio. In eu justo malesuada, laoreet dolor sit amet, porta dolor. Etiam auctor nisi at orci congue interdum. Pellentesque quis erat convallis, fringilla tortor ut, facilisis augue. Morbi dictum ipsum nunc, at condimentum magna ornare quis. Mauris feugiat tincidunt enim, ac ullamcorper libero accumsan a.</p>
			<p>Sed porttitor facilisis maximus. Mauris pretium nec nisi non euismod. Ut et sagittis ante. Suspendisse dignissim facilisis mi quis faucibus. Duis vel urna mi. Quisque dignissim eros a feugiat euismod. Aliquam hendrerit dui ac nisl imperdiet interdum. Vivamus lobortis placerat tortor, et vehicula augue pretium ut.</p>
			<p>Donec mattis massa sed fringilla varius. Nulla malesuada faucibus sapien, eu euismod magna luctus at. Proin id dictum enim. Nulla ut aliquet augue, vel hendrerit nibh. Duis vitae nisl pellentesque, auctor quam vitae, vulputate libero. Sed justo felis, pellentesque et volutpat et, dignissim eu nunc. Etiam a quam nec augue pretium elementum tincidunt ac quam. Fusce ultrices tempus metus in aliquam.</p>
		</div>
		<div class="RightCol">
			<h1>Maybe some adds??</h1>
			<p>This is a bunch of sample text!</p>
		</div>
	</div>
	<div class="Footer">
		<p>Contact us at (905)-xxx-xxxx or sample@gmail.com </p>
	</div>
</body>
</html>