<!DOCTYPE html>
<html>
<head>
    <title>Layout2</title>
	<link rel ="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<!--Retro-->
	<link href="https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap" rel="stylesheet">
	<!-- Quicksand Fond -->
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
	<div class="bw">
	<div class="bwhead">
		<h1>Company Name</h1>
		<p> Welcome!</p>
		<hr/>
	</div>
	<div class="bwnav">
	<!-- For this Navigation bar we are going to use link style navigation-->
		<a href="/1_HOME">HOME</a>
		<a href="/1_ABOUT">ABOUT</a>
		<a href="/1_CONTACTUS">CONTACT US</a>
		<a href="/1_SERVICES">SERVICES</a>
	</div>
	<div class="bwbody">
		<h1>Hey, Listen!</h1>
		<h2>1. Introduction</h2>
		<p>Quisque ultricies tincidunt turpis vitae aliquam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam aliquam posuere quam, in dictum dolor faucibus ut. Nulla diam nunc, auctor nec ultricies tristique, ultricies nec sem. Cras sed finibus erat, quis vulputate augue. Curabitur semper, orci id luctus suscipit, nulla ante eleifend purus, vitae hendrerit lorem enim in leo. Duis aliquet nec justo et dignissim. Fusce mi dui, lobortis eget lectus vitae, iaculis mattis orci. Nam sed lectus at mauris volutpat lacinia. In malesuada venenatis rhoncus. Aliquam malesuada pellentesque nisi sit amet porttitor. In non consectetur neque. Morbi molestie elementum mi, ac cursus mi auctor vel. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam euismod nisi ut purus tincidunt, vel euismod sapien consequat.</p>		
		<h2>2. Coverage</h2>
		<p>Integer fringilla eu urna ac blandit. Vivamus porttitor egestas neque sit amet interdum. Nullam tortor neque, venenatis sed auctor eu, venenatis scelerisque nibh. Fusce laoreet velit at leo porta, eu luctus diam elementum. Maecenas eu eleifend risus. Praesent elementum est sed lorem commodo commodo. Etiam vel nulla tincidunt lorem varius sagittis efficitur non purus. Etiam eleifend lobortis nunc nec aliquet. Ut vitae lorem in enim iaculis mollis. In pellentesque dolor sapien, et luctus turpis scelerisque ac. Quisque lorem sem, ornare nec hendrerit vitae, condimentum et odio.</p>
		<p>In tincidunt libero eu dui congue varius. Donec non est suscipit odio ornare luctus quis eget tortor. Nulla id dignissim lacus. Donec placerat facilisis accumsan. Nam lobortis eros ut est cursus tincidunt. Praesent ac nibh ligula. Praesent eu auctor mauris, ac volutpat eros. Etiam vestibulum velit nunc, eget ultricies neque commodo ac. Quisque in quam eu libero malesuada imperdiet. Maecenas non nulla ut urna suscipit sagittis.</p>
		<h2>3. Economics</h2>
		<p>Pellentesque non dui eleifend justo pellentesque tristique id id mauris. Ut pharetra vitae erat a pellentesque. In efficitur et justo non auctor. Morbi a nisi in eros cursus malesuada ornare ac risus. Morbi cursus arcu nec ultrices ultrices. Integer augue sem, ultrices in purus quis, rhoncus sagittis diam. Maecenas feugiat lacus sed massa pellentesque, vel congue ex scelerisque. Integer mollis, dolor sed ultricies consectetur, mi lectus euismod lorem, pretium pulvinar nunc erat mollis turpis. Duis posuere ipsum non sem mattis porta. Nulla facilisi. Sed risus augue, luctus vel vehicula et, ultricies vel elit. Nullam vitae velit suscipit, suscipit lectus a, euismod quam. Fusce maximus eros lacus, tincidunt semper ex sollicitudin fringilla.</p>
	</div>
	<div class="bwfoot">
		<hr/>
		<p>Contact us at (905)-xxx-xxxx or sample@gmail.com </p>
	</div>
	</div>
</body>
</html>