.bitcount-grid-double-myfontclass {
  font-family: "Bitcount Grid Double", system-ui;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}


.quicksand-myfontclass {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
/*Homepage*/
.BasicLayouts {
	width: 300px;
	padding: 10px;
	text-align: center;
	
}
.BasicLayouts form {
	display: inline-block;
}
.BasicLayouts Legend {
	text-align: left;
	margin: 0 8px 0;
}

.BasicLayouts button {
	margin: 8px;
	padding: 5px;
}


/*==== Layout 1 Content ====*/
p {
	padding: 8px;
}
h2 {
	padding: 4px 4px 1px;
}
.Header {
	width: 100%;
	/* Border Parameters */
	border-style: solid;
	border-width: 2px;
	border-color: black;
	border-radius: 0px;
	/*Background Related Parameters*/
	background: rgba(0,0,0,0.1);
	/*text Alignment*/
	text-align: center;
	padding: 15px 0 15px; /*Top Sides Bottom*/
}
.NavigationBar {
	overflow: hidden; /* Hides and overflow beyond the div*/
	flex-shrink: 0;
	height: 40px;
	background-color: #4569f7;
	border: solid 2px black;
}
.NavigationBar a { /* Link Settings*/
	display: block;
	float: left;
	color: white;
	padding: 10px 12px; /*Spaces out the links*/
	text-decoration: none; /*Gets rid of underline*/
	font-family: "Bitcount Grid Double", system-ui;
}
.NavigationBar a:hover {
	color: lightgrey;
	background: #5d7dfc;
}

.Content {
	display: flex; /*Strechs to wrap around children!*/
	background: grey;
	padding: 10px 10px 10px;
	border: solid 2px black;
}
.LeftCol, .MiddleCol, .RightCol {
	float: left; /*Aligns everything from the left to right*/
	border: solid 2px black;
	background-color: white;
	overflow: hidden;
}
.LeftCol, .RightCol{
	width: 15%;
}
.MiddleCol{
	width: 70%;
}
.Footer {
	display: flex;
	flex-shrink: 0;
	border: solid 2px black;
	background-color: cyan;
	overflow: hidden;
	font-size-adjust: 0.4;
	padding: 2px 2px 2px;
}

/*Layout 2*/
hr {
	display: block;
	height: 2px;
	border: none;
	border-bottom: 2px solid #000080;
	margin: 0 20px 0;
	padding: 0;
}
.bw {
	display: flex;
	flex-direction: column;
	background: white;
	height: 100%;
	width: 100%;
}
.bw h1, h2, h3 {
	color: #000080;
}
.bw p {
	color: black;
}
.bwbody {
	overflow-y: auto;
	display: flex;
	flex: 1;
	flex-direction: column;
	
	padding: 0;
	
	width: 100%;
	
	margin-top: 94px;
	margin-bottom: 50px;
	
	background: white;
}
.bwhead, .bwfoot {
	display: flex;
	flex-shrink: 0;
	width: 100%;
	
	position: fixed;

	color: #000080;
	Background: white;
	z-index: 1;
}

.bwhead {
	top: 0;
	display: grid;
	overflow: hidden;
	height: 94px;
}
.bwhead p {
	padding: 0;
	margin: 0 30px 0;
}
.bwhead h1 {
	margin: 0 20px 0;
}
.bwfoot {
	display: grid;
	bottom: 0;
	height: 50px;
	text-align: center;
	padding: 10px;
}
.bwbody {

}

/* Layout 3 */
.l3 {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.l3 .NavigationBar {
	display: flex;
	flex-shrink: 0;
	position: fixed;
	width: 100%;
	z-layer: 1;
	
	border: 0;
	border-bottom: solid 2px black;
}
.l3 .NavigationBar .Login a {
	right: 0;
	position: fixed;
	border-bottom: solid 1px black;
	padding: 10px 0 0;
}

.l3 .Content {
	margin-top: 40px;
	padding: 10px 10px 10px;
	display: flex;
	flex: 1;
	height: 100%;
	border: 0;
}
.l3 .LeftCol {
	width: 15%;
	min-width: 200px;
	height: 300px;
	margin: 0 10px 0;
	border-radius: 10px;
	
	display: grid;
	padding: 10px;
}

.l3 .LeftCol a {
	text-decoration: none;
	color: black;
	margin: 5px 10px 5px;
	padding: 3px 5px 0;
	
	border: solid 2px black;
	border-top: transparent;
	border-right: transparent;
		
}

.l3 .MiddleCol {
	width: 85%;
	margin: 0 10px 0;
	border-radius: 10px;
}