<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<div class="control-container">
		<h1>Control Panel</h1>
		<div class= "preview">
			<img src="http://192.168.2.20:8080/video_feed" alt="Live Stream"
				onerror="this.onerror=null; this.src='/static/StreamOffline.jpg';">
		</div>

		<div class= "stream">
			<form action="/toggle-stream" method="post">
				<button type="submit" class="btn">Toggle Stream</button>
			</form>
		</div>
		
		<div class= "record">
			<form action="/toggle-record" method="post">
				<button type="submit" class="btn">Toggle Recording</button>
			</form>
		</div>
		
	</div>
</body>
</html>