<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<div class="control-container">
		<h1>Control Panel</h1>
		<div class= "preview">
		</div>
		
		<div class= "start-stop">
			<form action="/start-task" method="post">
				<button type="submit" class="btn">Start</button>
			</form>
			<form action="/stop-task" method="post">
				<button type="submit" class="btn">Stop</button>
			</form>
		</div>
	</div>
</body>
</html>